{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row g-3">
        <div class="col-xl-8 py-3">
          <!-- Profile Details Card -->
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              Edit Profile
              <a class="btn btn-outline-primary btn-sm float-end" href="{% url 'clients:dashboard' %}"
                aria-label="Back to Dashboard">Back to Dashboard</a>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'owner_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Business Name -->
                <div class="mb-3">
                  <label class="form-label" for="inputBusinessName">Business Name</label>
                  <input class="form-control" id="inputBusinessName" type="text" placeholder="Enter your business name"
                    value="{{ owner.business_name }}" name="business_name" aria-label="Business Name">
                </div>
                <!-- First Name and Last Name in a single row -->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label class="form-label" for="inputFirstName">First name</label>
                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter Your First Name"
                      value="{{ owner.first_name }}" name="first_name" aria-label="First Name">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="inputLastName">Last name</label>
                    <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name"
                      value="{{ owner.last_name }}" name="last_name" aria-label="Last Name">
                  </div>
                </div>
                <!-- Email -->
                <div class="mb-3">
                  <label class="form-label" for="inputEmailAddress">Email</label>
                  <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter email address"
                    value="{{ request.user.email }}" name="email" aria-label="Email">
                </div>
                <!-- Business Website/Online Profile -->
                <div class="mb-3">
                  <label class="form-label" for="inputBusinessWebsite">Business Website/Online Profile</label>
                  <input class="form-control" id="inputBusinessWebsite" type="text"
                    placeholder="Enter your business website" name="website" aria-label="Business Website">
                </div>
                <!-- Bio -->
                <div class="mb-3">
                  <label class="form-label" for="inputBio">Bio</label>
                  <textarea class="form-control" id="inputBio" placeholder="Enter your bio" name="bio"
                    aria-label="Bio">{{ owner.bio }}</textarea>
                </div>
                <!-- Save Changes Button -->
                <button class="btn btn-success btn-md" type="submit" aria-label="Save Changes">Save Changes</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}