{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row g-3">
        <div class="col-xl-4 py-2">
          <!-- Profile Picture Card -->
          <div class="card mb-4 mb-xl-0">
            <div class="card-header d-flex justify-content-between align-items-center">
              Company Profile
               <a class="btn btn-outline-primary btn-sm float-end" href="{% url 'dashboard' %}">Back to Dashboard</a>
            </div>
            <div class="card-body text-center">
              <!-- Profile Image -->
              <img class="img-account-profile profile-img rounded-circle mb-2" src="{% static 'images/profile_img.jpg' %}"
                alt="User Profile Image" width="150" height="150">
              <br>
              <button class="btn btn-primary btn-sm ">Upload New Photo</button>
            </div>
          </div>
        </div>

        <div class="col-xl-8 py-3">
          <!-- Profile Details Card -->
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              Company Details
             
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                <!-- Business Name -->
                <div class="mb-3">
                  <label class="form-label" for="inputBusinessName">Business Name</label>
                  <input class="form-control" id="inputBusinessName" type="text" placeholder="Enter your business name"
                    value="{{ request.user.business_name }}">
                </div>
                <!-- First Name and Last Name in a single row -->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label class="form-label" for="inputFirstName">First name</label>
                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter Your First Name"
                      value="{{ request.user.first_name }}">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="inputLastName">Last name</label>
                    <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name"
                      value="{{ request.user.last_name }}">
                  </div>
                </div>
                <!-- Email -->
                <div class="mb-3">
                  <label class="form-label" for="inputEmailAddress">Email</label>
                  <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter email address"
                    value="{{ request.user.email }}">
                </div>
                <!-- Business Website/Online Profile -->
                <div class="mb-3">
                  <label class="form-label" for="inputBusinessWebsite">Business Website/Online Profile</label>
                  <input class="form-control" id="inputBusinessWebsite" type="text"
                    placeholder="Enter your business website">
                </div>
                <!-- Bio -->
                <div class="mb-3">
                  <label class="form-label" for="inputBio">Bio</label>
                  <textarea class="form-control" id="inputBio" placeholder="Enter your bio"></textarea>
                </div>
                <!-- Save Changes Button -->
                <button class="btn btn-success btn-md" type="submit">Save Changes</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
