{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main Page -->
    <div class="home container mt-5">
        <div class="row py-5">
            <div class="col-md-6">
                <div class="text mt-5">
                    <h1>Manage your business efficiently</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    <a href="{% url 'account_signup' %}" aria-label="Go to Sign Up">
                    <button class="button-36">Get started 
                    <i class="fas fa-arrow-right" style="transform: rotate(-30deg);"></i>
                    </button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/home_image.svg' %}" alt="Home page image" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}    
    
