{% extends "account/base.html" %}
{% load i18n %}
{% load allauth account socialaccount crispy_forms_tags %}
{% load static %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
<style>
.password-description {
    font-size: 11px;
    color: #999;
}

</style>


    <div class="signup-container mb-4">
        <div class="form-and-image-container">
            <div class="signup-form">
                {% element h1 %}
                    {% trans "Sign Up" %}
                {% endelement %}
                <p>
                    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                </p>
                {% url 'account_signup' as signup_url %}
                {% element form form=form method="post" action=signup_url tags="entrance,signup" %}
                    {% slot body %}
                        {% csrf_token %}
                        <div class="signup-form-group">
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        <div class="signup-form-group">
                            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                            {{ form.password1 }}
                        </div>
                        <div class="password-description">
                        <div class="align-left">
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                        </div>
                        </div>
                        <div class="signup-form-group">
                            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                            {{ form.password2 }}
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden"
                                name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}" />
                        {% endif %}
                    {% endslot %}
                    {% slot actions %}
                        <button class="signup" type="submit" tags="prominent,signup">
                            {% trans "Sign Up" %}
                        </button>
                    {% endslot %}
                {% endelement %}
            </div>

            <div class="image-container">
                <div class="image">
                    <img src="{% static 'images/form.jpg' %}" alt="Image">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
