{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="position-fixed top-0 end-0 p-3">
    <a href="{% url 'client_form' %}">
        <button type="button" class="button-36">
            Add Client +
        </button>
    </a>
</div>
<div id="dashboardContainer" class="dashboard container text-center mt-5">

    <h3 class="display-4">Welcome to Your Dashboard <span class="first-name-display">{{user.first_name}}!</span></h3>
    <p class="lead">Start by adding Your first client.</p>
</div>

{% endblock content %}

```